{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>


    
<div class="table-wrap"  >
    <table class="table " style="background-color:white;">
      
            <tr>
            
                <th>Name</th>
               
            </tr>
      
       
        {% for category in categories %}
            <tr>
            
                <td style= size="20">{{ category.name }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}

    </table>
    </div>
{% endblock %}
